@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

/* Shared Styles */

.orange{
    color: #FEA301;
}

.sky-blue{
    color: #01ACFD;
}

.aqua{
    color: #05D4DF;
}

.purple{
    color: #5D58EF;
}

.display-flex{
    display: flex;
}

.btn-primary{
    padding: 10px 50px;
    /* margin: 0px 186px; */
    border-radius: 12px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

/* Nav Styles */

.nav-bar{
    max-width: 1160px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 20px; */
    padding: 20px 0px;
}

.logo{
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img{
    width: 100%;
}

.nav-title{
    font-size: 2rem;
    font-weight: 700;
}

.nav-list ul{
    gap: 32px;
}

.nav-list ul li{
    list-style: none;
}

.nav-list ul li a{
    text-decoration: none;
}

.home{
    font-size: 1.25rem;
    font-weight: 700;
}

.about, .facility, .admission{
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-nav .btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEA301;
}

.ham-burger{
    display: none;
}

/* Banner Styles */

.banner{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
}

.banner-content{
    width: 640px;
    height: 331px;
}

.banner-title{
    font-size: 4.063rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner .btn-banner{
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.banner-img img{
    width: 100%;
}

/* Responsive Media Query for Mobile Device */

@media screen and (max-width: 576px) {
    .nav-list, .btn-nav, .nav-title{
        display: none;
    }

    .logo img{
        width: 80%;
    }

    .nav-bar{
        justify-content: space-between;
        padding: 12px 16px;
        /* margin: 12px 16px; */
        border-bottom: 1px solid #FEA301;
    }
    
    .ham-burger{
        display: block;
        color: black;
    }

    .banner{
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 17px;
        flex-direction: column-reverse;
        padding: 20px 0px;
        gap: 20px;
    }

    .banner-content{
        text-align: center;
        width: 357px;
        height: 252px;
    }

    .banner-title{
        font-size: 2rem;
        margin-bottom: 18px;
    }

    .banner-description{
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .banner .btn-banner{
        background-color: black;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 8px;
        padding: 8px 24px;
    }
}