@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

/* Shared Styles */

.orange{
    color: #FEA301;
}

.sky-blue{
    color: #01ACFD;
}

.aqua{
    color: #05D4DF;
}

.purple{
    color: #5D58EF;
}

.display-flex{
    display: flex;
}

.btn-primary{
    padding: 10px 50px;
    /* margin: 0px 186px; */
    border-radius: 12px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

/* Nav Styles */

.nav-bar{
    max-width: 1160px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 20px; */
    padding: 20px 0px;
}

.logo{
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img{
    width: 100%;
}

.nav-title{
    font-size: 2rem;
    font-weight: 700;
}

.nav-list ul{
    gap: 32px;
}

.nav-list ul li{
    list-style: none;
}

.nav-list ul li a{
    text-decoration: none;
}

.home{
    font-size: 1.25rem;
    font-weight: 700;
}

.about, .facility, .admission{
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-nav .btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEA301;
}

.btn-nav .btn-primary:hover{
    border: 1px solid #FEA301;
    background-color: white;
    color: #FEA301;
}

.ham-burger{
    display: none;
}

/* Banner Styles */

.banner{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
}

.banner-content{
    width: 640px;
    height: 331px;
}

.banner-title{
    font-size: 4.063rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner .btn-banner{
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.banner .btn-banner:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.banner-img img{
    width: 100%;
}

/* Curriculum Styles */

.curriculum-container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 60px 0px;
    gap: 80px;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculm-title{
    font-size: 2.875rem;
    font-weight: 700;
}

.card-box{
    gap: 28px;
}

.cards{
    flex-direction: column;
    max-width: 367px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
    /* box-sizing: border-box; */
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-1{
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-2{
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-3{
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-description{
    font-family: Raleway;
    font-family: 0.938rem;
    font-weight: 500;
    color: #808080;
    width: 286px;
    line-height: 28px;
}

.btn-card-1, .btn-card-2, .btn-card-3{
    border: none;
    background-color: white;
    font-size: 0.938rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-card-1{
    color: #64C8FF;
}

.btn-card-2{
    color: #F0AA00;
}

.btn-card-3{
    color: #8700FF;
}

.arrow-box{
    text-align: center;
    gap: 10px;
}

.arrow-left, .arrow-right{
    width:60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FEA301;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}

.arrow-left:hover, .arrow-right:hover{
    border: 1px solid #FEA301;
    background-color: white;
    color: #FEA301;
}

/* Our Story Styles */

.stories-container{
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: contain;
    padding: 60px;
    gap: 80px;
    /* margin-bottom: 60px; */
}

.stories-title{
    font-size: 2.875rem;
    font-weight: 700;
}

.stories-container img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.stories-box {
    display: grid;
    grid-template-columns: 540px 601px;
    gap: 20px;
}

.box-1{
    border-radius: 16px;
    background-color: white;
    max-width: 540px;
}

.box-content{
    padding: 38px;
    position: relative;
}

.btn-box-1{
    font-family: Raleway;
    padding: 15px 20px;
    color: white;
    background-color: #3CD8E8;
    border-radius: 45px;
    border: none;
    font-size: 0.938rem;
    font-weight: 500;
    position: absolute;
    top: -12%;
}

.content-title{
    font-size: 1.5rem;
    font-weight: 700;
    width: 402px;
    margin-bottom: 48px;
}

.content-description{
    font-family: Raleway;
    font-size: 0.938rem;
    font-weight: 500;
    color: #666666;
    width: 433px;
}

.box-2{
    display: grid;
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: repeat(2, 301px);
    gap: 18px;
}

.img-card{
    border-radius: 16px;
    background-color: white;
    max-width: 290px;
}

.img-content{
    padding: 38px;
    position: relative;
}

.img-description{
    font-size: 0.938rem;
    font-weight: 700;
    width: 190px;
    border-radius: 16px;
}

.btn-box-2, .btn-box-3{
    font-family: Raleway;
    padding: 10px 18px;
    color: white;
    border-radius: 45px;
    border: none;
    font-size: 0.938rem;
    font-weight: 500;
    position: absolute;
    top: -20%;
}

.btn-box-2{
    background-color: #95B226;
}

.btn-box-3{
    background-color: #5D58F0;
}

.hide{
    display: none;
}

.btn-story{
    background-color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.btn-story:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* Footer Styles */

footer {
    max-width: 1440px;
    background-color: #01ACFD;
    color: white;
    align-items: flex-start;
    justify-content: space-around;
    gap: 145px;
    margin: 0px auto;
    padding: 100px 150px;
}

.footer-logo-container{
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.footer-logo-content{
    max-width: 299px;
    margin-bottom: 35px;
}

.footer-logo-title{
    width: 206px;
    font-size: 2.625rem;
}

.footer-description{
    font-size: 1.25rem;
    width: 399px;
}

.about-container ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-container ul li{
    list-style: none;
}

.about-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}

.about-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.social-title{
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.social{
    gap: 10px;
}

/* Responsive Media Query for Mobile Device */

@media screen and (max-width: 576px) {
    .nav-list, .btn-nav, .nav-title, .arrow-box{
        display: none;
    }

    .logo img{
        width: 80%;
    }

    .nav-bar{
        justify-content: space-between;
        padding: 12px 16px;
        /* margin: 12px 16px; */
        border-bottom: 1px solid #FEA301;
    }
    
    .ham-burger{
        display: block;
        color: black;
    }

    .banner{
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 17px;
        flex-direction: column-reverse;
        padding: 20px 0px;
        gap: 20px;
    }

    .banner-content{
        text-align: center;
        width: 357px;
        height: 252px;
    }

    .banner-title{
        font-size: 2rem;
        margin-bottom: 18px;
    }

    .banner-description{
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .banner .btn-banner{
        background-color: black;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 8px;
        padding: 8px 24px;
    }

    .card-box{
        flex-direction: column;
        gap: 12px;
    }

    .curriculum-container{
        margin-bottom: 20px;
        gap: 20px;
    }

    .curriculm-title{
        font-size: 1.625rem;
        margin-bottom: 20px;
    }

    .box-1{
        display: none;
    }

    .stories-container{
        background-image: url('../assets/bg.png'),linear-gradient(180.00deg, rgba(255, 255, 255, 0),rgba(254, 163, 1, 0.3) 100%);
        gap: 20px;
        padding: 40px;
        margin-top: -40px;
    }

    .content-title{
        font-size: 1.625px;
        margin-bottom: 20px;
    }

    .stories-box{
        justify-content: center;
        grid-template-columns: auto;
    }
    .box-2{
        max-width: 358px;
        grid-template-columns: repeat(2, calc((100% - 6px) / 2));
        grid-template-rows: repeat(3, calc((100% - 6px) / 3));
        gap:11px;
    }
    .btn-box-2, .btn-box-3{
        padding: 5px 10px;
        font-size: 0.563rem;
        top: -15px;
        left: 22px;
    }
    
    .img-content{
        padding: 20px;
    }

    .img-description{
        width: 117px;
        font-size: 0.563rem;
    }

    .hide{
        display: block;
    }

    .btn-story{
        font-size: 1rem;
        padding: 8px 40px;
        margin-top: 20px;
    }

    footer{
        flex-direction: column;
        padding: 65px 20px;
        gap: 32px;
        padding-bottom: 60px;
    }

    .footer-description{
        width: 357px;
        font-size: 1rem;
    }
}